<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Student at
      <a class="underline-link" href="https://www.uwaterloo.ca/" target="_blank">University of Waterloo</a> pursuing Undergrad in Data Science.  I am dedicated towards learning new skills and I aspire to use them for solving problems.
    </p>

    <p>
      I have had several invaluable experiences and projects in different aspects of Finance, Education, Health and Technology that 
      have equipped me with several technical and soft skills.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm most likely tinkering electronics, playing table tennis,
      or just relaxing in peace! 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
